html {
  height: 100%;
  background-image: linear-gradient(#ff6161, #ff768c);
  background-repeat: no-repeat;
  font-family: sans-serif;
  color: #0f222d;
  background-size: auto;
}

.main {
  width: 400px;
  display: flex;
  justify-content: center;
  /* フレックスアイテムが主軸に沿って上から下に */
  flex-direction: column;
  margin: auto;
}

h1 {
  text-align: center;
  color: #fff;
}

#add {
  form {
    background-color: #fff;
    padding: 15px;
    display: flex;
  }
}

button {
  display: inline-block;
  font-size: 1.5em;
  color: #53bdff;
  background-color: #fff;
  border: none;
  outline: 0;
  cursor: pointer;
}

.tasksBoard {
  background-color: #fff;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 40px;
}

a {
  float: right;
  text-align: right;
  color: #ff6161;
  font-size: 1.2em;
  cursor: pointer;
}
